---
import Layout from '@/layouts/Layout.astro';
import TradeInForm from '@/components/TradeInForm/TradeInForm.astro';
import Button from '@/components/Button/Button.astro';
import settings from '@/data/settings.json';
const { brand } = settings;
const benefit = '450 000';
---

<Layout title={`${brand} Trade In`} description=" Оцените свой автомобиль и получите самые выгодные условия на покупку нового автомобиля">
	<section class="bg-[#121416] md:relative md:h-[400px] bg-[url('https://cdn.alexsab.ru/b/jetour/img/models/t2/sections/1.webp')] bg-no-repeat bg-center bg-cover">
		<div class="container">
			<div class="py-12 text-white md:absolute md:bottom-0 xl:pb-20">
				<h1 class="text-4xl md:w-[550px] font-bold mb-8">{`Получите новый автомобиль ${brand} по программе Trade-in с выгодой до ${benefit} рублей!`}</h1>
				<p class="mb-8 md:w-1/2 xl:w-full"><Button classes="btn" view="scroll-link" url="#tradeInForm" title={`Получить выгоду ${benefit} рублей`} /></p>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<h2>Trade-in в 5 шагов</h2>
			<p class="text-lg mt-8 text-center">{`Мечтаете о новом автомобиле со скидкой до ${benefit} рублей? Воспользуйтесь услугой Trade-in! Просто сдайте свой старый автомобиль и мы обменяем его на новый всего за неделю!*`}</p>
			<div class="flex flex-col md:flex-row-reverse mt-6 mb-4 gap-5 md:mt-12">
				<div class="md:w-1/2">
					<img class="w-full rounded-2xl" src="https://cdn.alexsab.ru/b/jetour/img/models/x90plus/sections/1.webp" alt={`Получите новый автомобиль ${brand} по программе Trade-in с выгодой до ${benefit} рублей!`} />
				</div>
				<div class="md:w-1/2">
					<ul class="lg:text-lg">
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">1</span>Оставляете заявку на нашем сайте. Договариваетесь с менеджером о встрече в салоне.</li>
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">2</span>Выбираете новый автомобиль.</li>
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">3</span>Мы оцениваем Ваш а/м, называем стоимость, которая ВЫШЕ рыночной!</li>
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">4</span>Оформляете все документы сразу.</li>
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">5</span>Уезжаете на НОВОМ автомобиле</li>
					</ol>
				</div>
			</div>
			<p class="text-sm text-gray-500 mt-12">* Обращаем ваше внимание на то, что данная информация носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости автомобилей, пожалуйста, обращайтесь к менеджерам автосалона.</p>
		</div>
	</section>
	
	<section id="tradeInForm" class="bg-[url('https://cdn.alexsab.ru/specials/jetour/jetour-vigoda/jetour-leto-desktop.webp')] bg-no-repeat bg-center bg-cover">
		<div class="container">
			<h2 class="text-center text-white mb-12">{`Заполните форму и получите предложение со скидкой до ${benefit} рублей на новый автомобиль`}</h2>
			<p class="text-center text-xl text-white mb-12">Мы подготовим для вас индивидуальное ценовое предложение на понравившуюся модель по программе Trade-in</p>
			<div class="flex justify-center">
				<TradeInForm classes="md:w-1/2 bg-white/95 rounded-2xl px-4 py-8" />
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<h2 class="text-center">Условия программы</h2>
			<p class="text-center mt-8">Услуга Trade-in позволяет вам быстро и легко, а главное без лишней суеты и посредников, приобрести в нашем салоне новый автомобиль, оставив в зачет свой старый.</p>
			<div class="flex flex-col md:flex-row-reverse mt-6 mb-4 gap-5 md:mt-12">
				<div class="md:w-1/2">
					<img class="w-full rounded-2xl" src="https://cdn.alexsab.ru/b/jetour/img/models/x50/sections/1.webp" alt={`Получите новый автомобиль ${brand} по программе Trade-in с выгодой до ${benefit} рублей!`} />
				</div>
				<div class="md:w-1/2">
					<p><strong>Как работает программа trade-in:</strong></p>
					<ul class="">
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">1</span>Оставляете заявку на нашем сайте.</li>
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">2</span>Пригоняете свой автомобиль в наш автосалон, обращаетесь к менеджеру по продаже автомобилей. </li>
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">3</span>Производится осмотр, мойка и диагностика Вашего автомобиля. Все работы бесплатны для Вас.</li>
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">4</span>Менеджер объявляет Вам цену, за которую мы готовы выкупить ваш автомобиль. Цена в 90% случаев выше рыночной!
						</li>
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">5</span>Вы выбираете новый автомобиль, получаете скидку по программе Trade-in. Новый автомобиль вы можете оформить в кредит, Ваш старый автомобиль при этом будет являться первоначальным взносом.</li>
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">6</span>Получаете экземпляры договоров купли-продажи на Ваш новый автомобиль и автомобиль trade-in. Договора купли продажи на ваш автомобиль являются доказательством факта продажи автомобиля и гарантируют юридическую чистоту сделки.</li>
						<li class="flex gap-2 py-3 items-center"><span class="text-white text-2xl font-bold w-[40px] h-[40px] rounded-[50%] bg-accent-500 flex-shrink-0 flex justify-center items-center">7</span>Уезжаете на НОВОМ автомобиле. </li>
					</ol>
				</div>
			</div>
		</div>
	</section>
</Layout>