---
interface Props {
    type?: string,
    name?: string,
    classes?: string,
    placeholder?: string,
    required?: boolean,
    errorText?: string,
    errorClasses?: string,
    list?: string,
    listOptions?: string[] | []
}
const {
    type = 'text',
    name,
    classes = '',
    placeholder = 'Введите значение',
    required = false,
    errorText = '',
    errorClasses = '',
    list = '',
    listOptions=[]
} = Astro.props
---

<div class="w-full">
    <input
        type={type}
        name={name}
        class={`border-2 transition-all focus:border-accent-500 px-4 py-2.5 outline-none w-full text-black ${classes}`} 
        placeholder={placeholder}
        required={required}
        list={list}
    >
{
    required ? (
    <div class={`error-message text-xs hidden ${name} ${errorClasses}`}>{errorText}</div>
    ) : ('')
}
{
    list.length ? (
        <datalist id={list}>
            {
                listOptions.map(option => <option value={option} />)
            }
        </datalist>
    ) : null
}
</div>